body {
	background-color: #fff;
	color: #000;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.875;
	margin: 0;
}

img {
    border-radius: 50%;
}

.imgbanner {

}

.companylogo {

}

.imgalumni {

}

.studentalumni{

}

.shopimg {
  
}
