body {
	background-color: white;
	color: #000;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.875;
	margin: 0;
}

.imgbanner {

}

.wrapper {
  width: 1336px

}
.companylogo {
  border-radius: 50%;
  width: 100px;
  height: 100px;

}

.imgalumni {
  border-radius: 50%;
  width: 100px;
	height: 100px;
}

.studentalumni{
  border-radius: 50%;
  width: 100px;
	height: 100px;
}

.shopimg {
  border-radius: 50%;
  width: 100px;
	height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
